
/* Styling of Website (Font and Colours) */
* {
    font-family: 'Roboto', sans-serif;
    Tahoma, Geneva, sans-serif;
}

body {
    background-color: lightgrey;
    width: 100%;
    height: 100%;
}


/* Navigation Bar */


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    position: absolute;
    top: 5px;
    width: 100%;
}

/* Navigation Bar Image */

.nav img {

    alt: RGU Logo;
    height: 40px;
    width: 200px
}


li {
    float: left;
    border-right:1px solid #dcdcdc;
}

li a {
    display: block;
    color: #681DAE;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #9d90cd;
    color:white;

}

.active {
    background-color: #c4a8cd;
    color:white;
}

/* Header */

.header {
color: #f1f1f1;
}
.banner {
    height: 300px;
    width: 100%;
    padding: 1px 1px;

}

/* Header Image */

.banner img {
    position: static;
    padding-top: 30px;
    height: 350px;
    width: 100%;

}

/* Body */

/* Do we want this to be expandable/contractible like the banner? */

.body {
    padding: 1px 1px;
}

/* Containers */

.container {
    display: inline-block;
    position: relative;
    border:1px solid rgba (0,0,0,0.3);
    background-color: #f1f1f1;
    padding: 20px;
    margin:10px;
    height:auto;
}

.container.img {
    display: inline-block;
    position: relative;
    height: 25px;
    width: 50px;
    padding-top:0px;
    padding-left: 1px;
}

.container.text {
    display: inline-block;
    position: relative;
}

.container-c {
    display: block;
    position: relative;
    left: 250px;
    bottom: 300px;
    border:1px solid rgba (0,0,0,0.3);
    background-color: #f1f1f1;
    padding: 20px;
    margin:10px;
    width: 900px;
    height:auto;
}

.container-sidebar {
    display: inline-block;
    position: relative;
    border: 2px solid;
    border-right-color: rgba (0,0,0,0.3);
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
    padding: 0 10px 0 0;
    margin: 10px;
    height: auto;
}

.container-news {
    display: inline-block;
    position: relative;
    left: 225px;
    bottom: 200px;
    border:1px solid rgba (0,0,0,0.3);
    background-color: #f1f1f1;
    padding:20px;
    margin: 10px;
    height:auto;

}
/* Styling for the first header */
#headerOne {
    position: relative;
    padding-top: 3px;
    padding-left: 0px;
    font-weight: bold;
    font-size: 15px;
}

/* Styling for the second header */
#headerTwo {
    position: relative;
    padding-top: 3px;
    padding-left: 0px;
    font-weight: bold;
    font-size: 15px;
}

/* Styling for the third header */
#headerThree {
    position: relative;
    padding-top: 3px;
    padding-left: 0px;
    font-weight: bold;
    font-size: 15px;
}

/* Styling for the first piece of text */
#textOne {
    position: relative;
    padding-top: 0px;
    padding-left: 0px;
    font-weight: normal;
    font-size: 15px;
}

/* Styling for the second piece of text */
#textTwo {
    position: relative;
    padding-top: 0px;
    padding-left: 0px;
    font-weight: normal;
    font-size: 15px;
}

/* Styling for the third piece of text */
#textThree {
    position: relative;
    padding-top: 0px;
    padding-left: 0px;
    font-weight: normal;
    font-size: 15px;
}

/* Styling for the fourth header */
#headerFour {
    position: relative;
    padding-top: 0px;
    padding-left: 0px;
    font-weight: bold;
    font-size: 15px;
}

/* Styling for the fourth piece of text */
#textFour {
    position: relative;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 5px;
    font-weight: normal;
    font-size: 15px;
}

/* Styling for the fifth header */
#headerFive {
    position: relative;
    padding-top: 0px;
    padding-left: 0px;
    font-weight: bold;
    font-size: 15px;
}

/* Styling for the fifth piece of text */
#textFive {
    position: relative;
    padding-top: 0px;
    padding-right: 8px;
    padding-left: 0px;
    font-weight: normal;
    font-size: 15px;
}

/* Styling for the sixth header */
#headerSix {
    position: relative;
    padding-top: 0px;
    padding-left: 0px;
    font-weight: bold;
    font-size: 15px;
}

/* Styling for the sixth piece of text */
#textSix {
    position: relative;
    padding-top: 0px;
    padding-right: 6px;
    padding-left: 0px;
    font-weight: normal;
    font-size: 15px;
}

/* Styling for the first image */
#imageOne img {
    position: relative;
    height: 125px;
    width: 308px;
    padding-top: 0px;
    padding-left: 1px;
}

/* Styling for the second image */
#imageTwo img {
    position: relative;
    height: 125px;
    width: 308px;
    padding-top: 0px;
    padding-left: 1px;
}

/* Styling for the third image */
#imageThree img {
    position: relative;
    height: 125px;
    width: 308px;
    padding-top: 0px;
    padding-left: 1px;
}

#coursesHeader1 {
    position: absolute;
    padding-top: 20px;
    padding-left: 260px;
    font-weight: bold;
    font-size: 15px;
}

#coursesHeader2 {
    position: absolute;
    padding-top: 20px;
    padding-left: 630px;
    font-weight: bold;
    font-size: 15px;
}

#coursesImage1 img {
    position: relative;
    height: 170px;
    width: 170px;
    padding-top: 0px;
    padding-left:0px;
}

#coursesImage2 img {
    position: relative;
    height: 170px;
    width: 170px;
    padding-top: 0px;
    padding-left:0px;
}

#coursesHeader3 {
    position: relative;
    bottom: 170px;
    padding-top:0px;
    padding-left: 190px;
    font-weight: bold;
    font-size: 15px;
}

#coursesHeader4 {
    position: relative;
    bottom: 170px;
    padding-top:0px;
    padding-left: 190px;
    font-weight: bold;
    font-size: 15px;
}

#coursestext1 {
    position: relative;
    bottom: 150px;
    padding-top:0px;
    padding-left: 190px;
    font-weight: normal;
    font-size: 15px;
}

#coursestext2 {
    position: relative;
    bottom: 150px;
    padding-top:0px;
    padding-left: 190px;
    font-weight: normal;
    font-size: 15px;
}

#sideBarHeader {
    position: relative;
    padding-top: 10px;
    padding-left: 1px;
    font-weight: bold;
    font-size: 18px;
}

#navBarUndergraduate {
    position: relative;
    padding-left:1px;
    padding-top:0px;
    font-size:17px;
}

#navBarPostgraduate {
    position: relative;
    padding-left:1px;
    padding-top:0px;
    font-size:17px;
}

#navBarPR {
    position: relative;
    padding-left:1px;
    padding-top:0px;
    font-size:17px;
}

#navBarPartTime {
    position: relative;
    padding-left:1px;
    padding-top:0px;
    font-size:17px;
}

#navBarDistanceLearners {
    position: relative;
    padding-left:1px;
    padding-top:0px;
    font-size:17px;
}

#navBarShortCourses {
    position: relative;
    padding-left:1px;
    padding-top:0px;
    font-size:17px;
}

#sideBarHeader1 {
    position: relative;
    padding-top: 10px;
    padding-left: 40px;
    font-weight: bold;
    font-size: 18px;
}

#navBarHeadOfSchool {
    position: relative;
    padding-left:1px;
    padding-top:0px;
    font-size:17px;
}

#navBarProfessors {
    position: relative;
    padding-left:1px;
    padding-top:0px;
    font-size:17px;
}

#navBarSenorLecturers {
    position: relative;
    padding-left:1px;
    padding-top:0px;
    font-size:17px;
}

#navBarReader {
    position: relative;
    padding-left:1px;
    padding-top:0px;
    font-size:17px;
}

#navBarTeachingFellows {
    position: relative;
    padding-left:1px;
    padding-top:0px;
    font-size:17px;
}

#navBarLecturers {
    position: relative;
    padding-left:1px;
    padding-top:0px;
    font-size:17px;
}

#staffHeader1 {
    position: relative;
    padding-top: 10px;
    padding-left: 220px;
    font-weight: bold;
    font-size: 18px;
}

#staffHeader2 {
    position: relative;
    padding-top: 10px;
    padding-left: 700px;
    font-weight: bold;
    font-size: 18px;
}

#staffImage1 img {
    position: relative;
    height: 170px;
    width: 170px;
    padding-top: 0px;
    padding-left:0px;
}

#staffImage2 img {
    position: relative;
    height: 170px;
    width: 170px;
    padding-top: 0px;
    padding-left:0px;
}

#staffImages3 img{
    position: relative;
    height: 170px;
    width: 170px;
    padding-top: 0px;
    padding-left:0px;
}

#staffHeader3 {
    position: relative;
    padding-top: 0px;
    padding-left: 200px;
    bottom: 175px;
    font-weight: bold;
    font-size: 18px;
}

#staffText1 {
    position: relative;
    padding-top: 0px;
    padding-left: 200px;
    bottom: 170px;
    font-weight: normal;
    font-size: 18px;
}

#staffHeader4 {
    position: relative;
    padding-top: 0px;
    padding-left: 200px;
    bottom: 175px;
    font-weight: bold;
    font-size: 18px;
}

#staffText2 {
    position: relative;
    padding-top: 0px;
    padding-left: 200px;
    bottom: 170px;
    font-weight: normal;
    font-size: 18px;
}

#staffHeader5 {
    position: relative;
    padding-top: 0px;
    padding-left: 200px;
    bottom: 175px;
    font-weight: bold;
    font-size: 18px;
}

#staffText3 {
    position: relative;
    padding-top: 0px;
    padding-left: 200px;
    bottom: 170px;
    font-weight: normal;
    font-size: 18px;
}

#sideBarHeader2 {
    position: relative;
    padding-top: 10px;
    padding-left: 1px;
    font-weight: bold;
    font-size: 18px;
}

#navBarNews {
    position: relative;
    padding-left:1px;
    padding-top:0px;
    font-size:17px;
}

#navBarEvents {
    position: relative;
    padding-left:1px;
    padding-top:0px;
    font-size:17px;
}

#navBarPublications {
    position: relative;
    padding-left:1px;
    padding-top:0px;
    font-size:17px;
}

#navBarFindAnExpert {
    position: relative;
    padding-left:1px;
    padding-top:0px;
    font-size:17px;
}

#newsHeader1 {
    position: relative;
    padding-top: 10px;
    padding-left: 280px;
    font-weight: bold;
    font-size: 18px;
}

#newsHeader2 {
    position: relative;
    padding-top: 10px;
    padding-left: 625px;
    font-weight: bold;
    font-size: 18px;
}

#newsHeader3 {
    position: relative;
    padding-top: 0px;
    padding-left: 0px;
    font-weight: bold;
    font-size: 18px;
}

#newsImage1 img {
    position: relative;
    height: 140px;
    width: 300px;
    padding-top: 0px;
    padding-left:2px;
}

#newsText1 {
    position: relative;
    padding-top: 0px;
    padding-left: 0px;
    font-weight: normal;
    font-size: 18px;
}

#newsHeader4 {
    position: relative;
    padding-top: 0px;
    padding-left: 0px;
    font-weight: bold;
    font-size: 18px;
}

#newsImage2 img {
    position: relative;
    height: 140px;
    width: 300px;
    padding-top: 0px;
    padding-left:2px;
}

#newsText2 {
    position: relative;
    padding-top: 0px;
    padding-left: 0px;
    font-weight: normal;
    font-size: 18px;
}

#sideBarHeader3 {
    position: absolute;
    padding-top: 10px;
    padding-left: 1px;
    font-weight: bold;
    font-size: 18px;
}

#navBarHowToFindUs {
    position: absolute;
    padding-left:1px;
    padding-top:35px;
    font-size:17px;
}

#navBarTransportInformation {
    position: absolute;
    padding-left:1px;
    padding-top:64px;
    font-size:17px;
}

#navBarProspectusesAndGuides {
    position: absolute;
    padding-left:1px;
    padding-top:90px;
    font-size:17px;
}

#navBarFindAnExpert {
    position: absolute;
    padding-left:1px;
    padding-top:116px;
    font-size:17px;
}

#navBarEmergencyContactDetails {
    position: absolute;
    padding-left:1px;
    padding-top:145px;
    font-size:17px;
}

#contactHeader1 {
    position: absolute;
    padding-top: 10px;
    padding-left: 360px;
    font-weight: bold;
    font-size: 18px;
}

#contactHeader2 {
    position: absolute;
    padding-top: 42px;
    padding-left: 310px;
    font-weight: bold;
    font-size: 18px;
}

#contactText1 {
    position: absolute;
    padding-top: 70px;
    padding-left: 310px;
    font-weight: normal;
    font-size: 18px;
}

#contactHeader3 {
    position: absolute;
    padding-top: 200px;
    padding-left: 40px;
    font-weight: bold;
    font-size: 18px;
}

#contactTwiterLink {
    position: absolute;
    padding-top: 225px;
    padding-left: 40px;
}

#contactTwiterLink img {
    height: 130px;
    width: 130px;
}

#contactFacebookLink {
    position: absolute;
    padding-top: 225px;
    padding-left: 220px;
}

#contactFacebookLink img {
    height: 130px;
    width: 130px;
}

#contactYoutubeLink {
    position: absolute;
    padding-top: 225px;
    padding-left: 400px;
}

#contactYoutubeLink img {
    height: 130px;
    width: 130px;
}
/* Side Navigation Bar */

.sidebar {

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
    }
}


li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #c4a8cd;
    color: white;
    }


