
/* Styling of Website (Font and Colours) */
* {
    font-family: 'Roboto', sans-serif;
    Tahoma, Geneva, sans-serif;
}

body {
    background-color: lightgrey;
    width: 100%;
    height: 100%;
}


/* Navigation Bar */


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 5px;
    width: 100%;
}

/* Navigation Bar Image */

.nav img {

    alt: RGU Logo;
    height: 40px;
    width: 200px

}


li {
    float: left;
    border-right:1px solid #dcdcdc;
}

li a {
    display: block;
    color: #681DAE;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #9d90cd;
    color:white;

}

.active {
    background-color: #c4a8cd;
    color:white;
}

/* Header */

.header {

}
.banner {
    height: 300px;
    width: 100%;
    padding: 1px 1px;

}

/* Header Image */

.banner img {
    height: 100%;
    width: 100%;

}

/* Body */

/* Do we want this to be expandable/contractible like the banner? */

.body {
    padding: 1px 1px;
}
#headerOne {
    position: absolute;
    padding-top: 17px;
    padding-left: 40px;
    font-weight: bold;
    font-size: 15px;
}

#headerTwo {
    position: absolute;
    padding-top: 3px;
    padding-left: 380px;
    font-weight: bold;
    font-size: 15px;
}

#headerThree {
    position: absolute;
    padding-top: 3px;
    padding-left: 730px;
    font-weight: bold;
    font-size: 15px;
}

#textOne {
    position: absolute;
    padding-top: 180px;
    padding-left: 1px;
    font-weight: normal;
    font-size: 15px;
}

#textTwo {

    position: absolute;
    padding-top: 180px;
    padding-left: 320px;
    font-weight: normal;
    font-size: 15px;

}

#textThree {

    position: absolute;
    padding-top: 180px;
    padding-left: 640px;
    font-weight: normal;
    font-size: 15px;

}

#headerFour {

    position: absolute;
    padding-top: 265px;
    padding-left: 70px;
    font-weight: bold;
    font-size: 15px;
}

#textFour {

    position: absolute;
    padding-top: 295px;
    padding-left: 1px;
    font-weight: normal;
    font-size: 15px;
}

#headerFive {

    position: absolute;
    padding-top: 265px;
    padding-left: 400px;
    font-weight: bold;
    font-size: 15px;
}

#textFive {

    position: absolute;
    padding-top: 295px;
    padding-left: 320px;
    font-weight: normal;
    font-size: 15px;
}

#headerSix {

    position: absolute;
    padding-top: 265px;
    padding-left: 700px;
    font-weight: bold;
    font-size: 15px;
}

#textSix {

    position: absolute;
    padding-top: 295px;
    padding-left: 640px;
    font-weight: normal;
    font-size: 15px;
}

#imageOne img {

    position: absolute;
    height: 125px;
    width: 308px;
    padding-top: 43px;
    padding-left: 1px;
}

/* Side Navigation Bar */

.sidebar {

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
    }
}


li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #c4a8cd;
    color: white;
    }


